{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<style>
    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Full height to center vertically */
    }
    .search-container h1 {
        margin-bottom: 20px;
    }
    .search-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .search-container input[type="text"] {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .search-container button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }
    .search-container button:hover {
        background-color: #ddd;
        color: black;
    }
</style>

<div class="search-container">
    <h1>Search Team or Stadium</h1>
    <form action="/search/" method="get">
        <input type="text" name="q" placeholder="Search..." required>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}
