{% extends 'base.html' %}

{% block title %}Nearby Places{% endblock %}

{% block content %}
<h1>Nearby Places around {{ venue_name }}</h1>
{% if places %}
    <table>
        {% for place_type, place_list in places.items %}
            <tr><th colspan="3">{{ place_type|capfirst }}</th></tr>
            {% for place in place_list %}
                {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
                <td>
                    <div class="poi-card">
                        <p><strong>{{ place.name }}</strong></p>
                        <p>{{ place.formatted_address }}</p>
                    </div>
                </td>
                {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
            {% endfor %}
            {% if not forloop.last and not forloop.counter|divisibleby:3 %}</tr>{% endif %}
            <tr><td colspan="3"><br><br></td></tr>
        {% endfor %}
    </table>
{% else %}
    <p>No places found. Check logs for details.</p>
{% endif %}
{% endblock %}
