{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Irish Premier League Stadiums{% endblock %}
{% block content %}
<h1>Irish Premier League Stadiums</h1>
{% if stadiums %}
    <div class="card-grid">
        {% for stadium in stadiums %}
            <div class="card">
                <h2>{{ stadium.name }}</h2>
                <p>{{ stadium.address }},
                    {% if stadium.city %}
                        {{ stadium.city|replace:"Londonderry,Derry" }},
                    {% endif %}
                    {{ stadium.country }}
                </p>
                <p>Capacity: {{ stadium.capacity }}</p>
                <p>Surface: {{ stadium.surface }}</p>
                <img src="{{ stadium.image }}" alt="{{ stadium.name }} Image" class="venue">
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No stadiums found.</p>
{% endif %}
{% endblock %}
