{% extends "base.html" %}
{% block title %}League Standings{% endblock %}
{% block content %}
<h1>League Standings</h1>

<div class="standings-table">
    {% if standings %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    
                    <th>P</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>G</th>
                    <th>GA</th>
                    <th>Avg</th>
                    <th>P</th>
                </tr>
            </thead>
            <tbody>
                {% for team in standings %}
                    <tr>
                        <td>{{ team.rank }}</td>
                        <td>
                            <img src="{{ team.team.logo }}" alt="{{ team.team.name }} Logo" style="width: 20px;">
                            {{ team.team.name }}
                        </td>
                        
                        
                        <td>{{ team.all.played }}</td>
                        <td>{{ team.all.win }}</td>
                        <td>{{ team.all.draw }}</td>
                        <td>{{ team.all.lose }}</td>
                        <td>{{ team.all.goals.for }}</td>
                        <td>{{ team.all.goals.against }}</td>
                        <td>{{ team.goalsDiff }}</td>
                        <td>{{ team.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No standings data available.</p>
    {% endif %}
</div>
{% endblock %}
